/* Remove outline on the forms and links */
:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

* {
  font-family: Montserrat, sans-serif;
}


.container {
  margin-top: 200px;
  .row {
    display: flex;
    align-items: center;
    justify-content: center;
    .input-frame {
      border: rgb(113, 112, 38) solid 2px;
      height: 400px;
      width: 400px;
      border-radius: 12px;
      background: linear-gradient(45deg, rgb(235, 240, 168) 12%, transparent 0, transparent 88%, rgb(238, 241, 210) 0), linear-gradient(135deg, transparent 37%, rgb(195, 189, 107) 0, rgb(206, 212, 118) 63%, transparent 0), linear-gradient(45deg, transparent 37%, rgb(238, 236, 221) 0, rgb(238, 237, 221) 63%, transparent 0), rgb(155, 150, 62);
      background-size: 40px 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 0;

      .input-wrapper {
        width: 396px;
        height: 396px;
        background-image: url(https://image.ibb.co/dFcNx7/tile_bg_2.jpg);
        border-radius: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
       

        &__title {
          display: block;
          margin: 80px 20px 40px 20px;
          font-weight: 700;
          font-size: 28px;
          text-align: center;
          color: #2a2a2a;
        }

        &__item {
          height: 40px;
          width: 280px;
          margin: 5px 0 2.5px 0;
          border-radius: 6px;
          font-size: 18px;
          font-weight: 500;
          text-align: center;
          opacity: 0.7;
          transition: box-shadow .3s;
          border: grey solid 1px;
          &:hover {
            box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.4);
          }
        }


        p{
          position: absolute;
          top: 32%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: block;
          margin-top: 3px;
          color: red;
        }

        &__button{
          display: block;
          margin: 40px auto;
          width: 170px;
          height: 40px;
          cursor: pointer;
          border-radius: 6px;
          font-weight: 600;
          font-size: 16px;
          opacity: 0.8;
          text-transform: uppercase;
          transition: box-shadow .2s;
          border: 1px solid grey;

          &:hover {
            box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.75);
          }
          &:active{
            box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
            transition: .1s;
            padding: 0px;
          }

        }
      }
    }
  }
}
