.modal-close-wrapper {
    position: fixed;
    z-index: 998;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    opacity: 0.2;
    background-color: black;
  }
  
  .modal-container {
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    width: 420px;
    height: 300px;
    opacity: 1;
    background-color: white;
    border-radius: 3px;
  }