

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}


article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

.card-container {
    width: 125px;
    height: 200px;
    color: black;
    z-index: 2;
    filter: grayscale(0%);
}

.card-background {
    border: rgb(113, 112, 38) solid 2px;
    height: 200px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background: linear-gradient(45deg, rgb(235, 240, 168) 12%, transparent 0, transparent 88%, rgb(238, 241, 210) 0), linear-gradient(135deg, transparent 37%, rgb(195, 189, 107) 0, rgb(206, 212, 118) 63%, transparent 0), linear-gradient(45deg, transparent 37%, rgb(238, 236, 221) 0, rgb(238, 237, 221) 63%, transparent 0), rgb(155, 150, 62);
    background-size: 40px 40px;
    display: flex;
    z-index: 0;
}

.frame-header, .frame-type-line {
    border-bottom: 1px solid #a9a9a9;
    border-left: 1px solid #a9a9a9;
    border-top: 1px s1olid #a9a9a9;
    border-right: 1px solid #a9a9a9;
}

.frame-header, .frame-art, .frame-type-line, .frame-text-box {
    box-shadow: 0 0 0 1px #171314, 0 0 0 3px rgb(113, 112, 38), -1px 1px 1px 2px #171314;
    margin-bottom: 7px;
}

.frame-header, .frame-type-line, .frame-text-box {
    overflow: hidden;
}


.card-frame {
    z-index: 1;
    position: relative;
    height: 97%;
    max-width: 97%;
    left: 1%;
    top: 0.5%;
    left: 1.8%;
    display: flex;
    flex-direction: column;
}

.frame-header, .frame-type-line {
    background: linear-gradient( 0deg, rgba(201, 216, 201, .3), rgba(201, 216, 209, .3)), url(https://image.ibb.co/jKByZn/tile_bg_1.jpg);
    display: flex;
    margin-top: 5px;
    margin-left: 3px;
    margin-right: 3px;
    display: flex;
    align-self: auto;
    justify-content: space-between;
    border-radius: 18px/40px;
}

.name, .type {
    font-size: 1.2em;
    margin: auto;
    align-self: center;
    font-weight: 600;
}


.frame-art {
    height: 70%;
    margin: 0 3px;
    border-radius: 6px 6px 0 0;
}
.info{
    font-size: 14px;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background-image: url(https://image.ibb.co/dFcNx7/tile_bg_2.jpg);
    border: rgb(113, 112, 38) solid 1px;
    text-align: center;
    color: black;
}

.frame-text-box {
    margin: 0 3px;
    background: #d3ded6;
    background-image: url(https://image.ibb.co/dFcNx7/tile_bg_2.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px 6px;
    font-size: 1em;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: row;
}

.flavour-text {
    font-style: italic;
    padding: 10px 0;
}

.ftb-inner-margin {
    margin: auto;
}
